@import '~bootstrap/scss/bootstrap';

.container {
  border: 10px solid $white;
  padding: 5px solid $white;
  background-color: $black;
}

.box {
  background-color: $white;
  height: 100px;
}
.success{

}

.failure{

}
