@import '~bootstrap/scss/bootstrap';

* {
  font-family: 'Dancing Script', cursive;

}
h1 {
  background-color: #85bb65;
}
.container {
  border: 10px solid $white;
  padding: 5px solid $white;
}

.box {
  height: 20vh;
  border-right: 5px solid $white;
  font-size: 10rem;
  text-align: center;
  align-items: center;
}

#message {
  background-color: #cf07f2;
}

#sign-up {
  background-color: #fa7b62;
}

#sign-in {
background-color: #d79e07;
}

#change-password {
  background-color: #0768d7;
}

#sign-out {
  background-color: #990000;
}

.input {
  opacity: 0.75;
}
